:root {
	--dark-color: #2a2a2a;
	--red-color: #fd2016;
	--white-color: #ffffff;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: 'Manrope', sans-serif;
}

.container {
	max-width: 92vw;
	margin: 0 auto;
}

a {
	text-decoration: none;
	color: var(--dark-color);
	cursor: pointer;
}

.dots-underline {
	position: relative;
	width: fit-content;
	height: 100%;
}

.dots-underline:after {
	content: '';
	position: absolute;
	transition: 0.3s ease-in-out;
	inset: 0;
	width: 100%;
	height: 100%;
	border-bottom: 0.17vw dotted var(--red-color);
}

a:hover.dots-underline:after {
	width: 60%;
}

.btn,
.form-input {
	display: inline-block;
	font-size: 0.8vw;
	height: inherit;
	padding: 1.3vw 2.6vw;
	color: var(--white-color);
	background-color: transparent;
	border-radius: 2.5vw;
	border: 0.1vw solid transparent;
	transition: 0.3s ease-in-out;
	position: relative;
	outline: none;
	overflow: hidden;
}

.btn {
	font-weight: 600;
	background-color: var(--red-color);
	cursor: pointer;
}

.btn::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 5.5vw;
	height: 5.5vw;
	background: url('../images/icons/button-blick.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	transform: translate(-50%, -25%);
	animation: btnBlick 5s infinite;
	transition: 0.3s ease-in-out;
}

@keyframes btnBlick {
	0% {
		left: -2vw;
	}
	100% {
		left: calc(100% + 2vw);
	}
}

.btn:hover {
	background-color: #d42118;
}

.btn:hover::after {
	animation-play-state: paused;
	opacity: 0;
}

input[type='checkbox'] {
	visibility: hidden;
	width: 1.5vw;
	height: 1.5vw;
}

.custom {
	position: relative;
}

.custom__checkbox {
	position: absolute;
	top: 0;
	left: 0;
	height: 1.5vw;
	width: 1.5vw;
	background-color: transparent;
	border: 0.1vw solid var(--red-color);
	border-radius: 0.3vw;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.2s ease-in-out;
	cursor: pointer;
}

.custom__checkbox svg {
	opacity: 0;
	visibility: hidden;
	fill: var(--white-color);
	width: 0.7vw;
	height: 0.7vw;
	transition: 0.2s ease-in-out;
}

input[type='checkbox']:checked ~ .custom__checkbox {
	background-color: var(--red-color);
}

input[type='checkbox']:checked ~ .custom__checkbox svg {
	opacity: 1;
	visibility: visible;
}

.overflow-hidden {
	overflow: hidden;
}

.only-mobile {
	display: none;
}

.submenu {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* Header */
.header {
	background-color: var(--white-color);
}

.header__top-wrapper,
.header__nav {
	padding: 1.25vw 0;
}

.header__top-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 0.05vw solid var(--dark-color);
}

.header__logo,
.header__address,
.header__map,
.header__calculate,
.header__social,
.header__contacts {
	display: flex;
	align-items: center;
	font-size: 0.72vw;
	line-height: 1.2vw;
}

.header__logo,
.header__social {
	gap: 1.35vw;
}

.header__address,
.header__map,
.header__calculate {
	gap: 0.8vw;
}

.header__map {
	position: relative;
}

.header__map a:hover ~ .header__map-widget,
.header__map-widget:hover {
	opacity: 1;
	visibility: visible;
}

.header__map-widget {
	position: absolute;
	top: 1vw;
	left: -2vw;
	width: 23vw;
	height: 15vw;
	z-index: 100;
	opacity: 0;
	visibility: hidden;
	transition: 0.3s ease-in-out;
}

.header__map-widget.active {
	inset: 0;
	opacity: 1;
	visibility: visible;
}

.header__map-widget.active {
	width: 100vw;
	height: 100vh;
}

.header__map-widget.active .widget__header {
	width: 100vw;
	display: flex;
}

.header__map-widget .widget__header {
	width: 23vw;
	justify-content: flex-end;
	align-items: center;
	padding: 0.7vw;
	background-color: var(--white-color);
	display: none;
}

.header__map-widget .widget__header.active {
	display: block;
}

.header__map-widget .widget__header span {
	cursor: pointer;
}

.header__map-widget .widget__header span svg {
	transition: 0.3s ease-in-out;
	fill: var(--dark-color);
	width: 1vw;
	height: 1vw;
}

.header__map-widget .widget__header span:hover svg {
	fill: var(--red-color);
}

.header__map-widget iframe {
	width: 23vw;
	height: 15vw;
}

.header__map-widget.active iframe {
	width: 100vw;
	height: 100vh;
}

.header__contacts .header__contacts-phone a {
	font-size: 1.25vw;
	transition: 0.3s ease-in-out;
}

.header__contacts .header__contacts-phone a:hover {
	color: var(--red-color);
}

.header__logo a img {
	width: 14vw;
}

.header__address img {
	width: 2.5vw;
}

.header__map img,
.header__calculate div img {
	width: 0.8vw;
}

.header__map a,
.header__calculate a {
	font-weight: 700;
}

.header__contacts {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.3vw;
}

.header__contacts p {
	margin: 0;
	display: flex;
	gap: 0.3vw;
	align-items: center;
}

.header__contacts p span {
	display: block;
	width: 0.5vw;
	height: 0.5vw;
	border-radius: 50%;
	background-color: #20c863;
	animation: pulse 1s infinite;
}

@keyframes pulse {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

.header__contacts > a {
	display: flex;
	align-items: center;
	gap: 0.6vw;
}

.header__contacts > a img {
	width: 0.5vw;
}

.header__contacts .header__contacts-phone {
	display: flex;
	align-items: center;
	gap: 0.5vw;
	font-weight: 700;
}

.header__contacts .header__contacts-dropdown {
	outline: none;
	border: none;
	background: transparent;
	cursor: pointer;
	margin: 0;
	padding: 0;
}

.header__contacts .header__contacts-dropdown img {
	width: 0.7vw;
	height: 100%;
}

.social__links {
	display: flex;
	align-items: center;
	gap: 0.4vw;
}

.social__link svg {
	fill: var(--white-color);
	width: 0.9vw;
	height: auto;
}

.social__link,
.header__calculate div {
	transition: 0.3s ease-in-out;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.8vw;
	border-radius: 50%;
}

.header__calculate div {
	background-color: #f8f8f8;
}

.social__link-whatsapp:hover {
	background-color: #40ad6c;
}

.social__link-whatsapp {
	background-color: #20c863;
}

.social__link-telegram:hover {
	background-color: #2f95c8;
}

.social__link-telegram {
	background-color: #2fb3f3;
}

.social__link-viber:hover {
	background-color: #6059c3;
}

.social__link-viber {
	background-color: #776ee9;
}

.header__menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	padding: 0;
	list-style: none;
}

.header__menu-submenu {
	margin-top: 0.5rem;
}

.submenu__link {
	font-size: 0.7rem;
	color: #929292;
	transition: 0.3s ease-in-out;
}

.header__menu-link {
	text-transform: uppercase;
	font-size: 0.8vw;
	font-weight: 600;
	letter-spacing: 0.1vw;
	transition: 0.3s ease-in-out;
	color: var(--dark-color);
}

.header__menu-link:hover,
.submenu__link:hover {
	color: var(--red-color);
}

.burger {
	cursor: pointer;
	display: none;
}

.burger svg {
	fill: var(--dark-color);
	width: 0.7rem;
	height: 0.7rem;
}

/* Main */

/* Hero */
.hero {
	display: flex;
	justify-content: space-between;
}

.hero__left {
	width: calc(100vw - 96vw);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5vw;
}

.hero__left p {
	font-size: 0.8vw;
	letter-spacing: 0.15vw;
	font-weight: 700;
	color: #efefef;
	writing-mode: vertical-lr;
	transform: rotateZ(180deg);
}

.hero__left > span {
	height: 20vw;
	width: 0.1vw;
	background-color: #efefef;
}

.hero__left-img {
	position: relative;
}

.hero__left img {
	width: 1.2vw;
	height: auto;
}

.hero__left-img::before {
	content: '';
	display: block;
	position: absolute;
	background: #000;
	background: url('../images/icons/mouse-scroll.svg');
	background-size: contain;
	top: 1vw;
	left: 0.6vw;
	transform: translate(-50%, -50%);
	width: 0.6vw;
	height: 0.6vw;
	z-index: 10;
	animation: mouseScroll 2.5s infinite;
}

@keyframes mouseScroll {
	0% {
		top: 1vw;
	}
	50% {
		top: 1.3vw;
	}
	100% {
		top: 1vw;
	}
}

.hero__right {
	width: 96vw;
	height: auto;
	background: url('../images/bg.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
	padding-top: 7vw;
	padding-left: 5vw;
	padding-right: 4vw;
	position: relative;
}

.hero__right::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: linear-gradient(
		270deg,
		rgba(22, 26, 30, 0) 0%,
		rgba(22, 26, 30, 0.6375) 79.17%
	);
	z-index: 5;
}

.hero__wrapper {
	position: relative;
	z-index: 10;
	color: var(--white-color);
}

.hero__title {
	font-size: 3vw;
	line-height: 4vw;
	font-weight: 400;
	margin: 0;
}

.hero__title span {
	font-weight: 700;
}

.hero__subtitle {
	font-size: 1.2vw;
	margin-top: 2vw;
}

.hero__btns {
	display: flex;
	align-items: center;
	height: 4vw;
	margin-top: 2vw;
	margin-bottom: 10vw;
	gap: 1vw;
}

.hero__btn {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.7vw;
}

.hero__btn:nth-child(1) {
	gap: 1.4vw;
}

.hero__btn:nth-child(1) img {
	transition: 0.3s ease-in-out;
	width: 1vw;
	height: auto;
}

.hero__btn:nth-child(1):hover img {
	transform: rotateZ(45deg);
}

.hero__btn:nth-child(2) {
	padding: 1.3vw 1.5vw;
	background-color: rgba(0, 0, 0, 0.45);
	border-color: var(--white-color);
}

.hero__btn:nth-child(2):hover {
	background-color: var(--white-color);
	color: var(--dark-color);
}

.hero__btn-whatsapp {
	width: 1.2vw;
	height: auto;
	fill: #20c863;
}

.hero__advantages {
	position: relative;
	z-index: 10;
	list-style: none;
	margin: 0;
	padding: 0;
}

.hero__advantages div {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	color: var(--white-color);
}

.hero__advantage {
	width: calc(100vw / 4);
	padding: 0 3vw 2.5vw 3vw;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
	gap: 1.2vw;
	border-right: 0.05vw solid var(--white-color);
}

.hero__advantage:first-child {
	padding: 0 3vw 2.5vw 0;
}

.hero__advantage:last-child {
	padding: 0 0vw 2.5vw 3vw;
	border-right: none;
}

.hero__advantage img {
	width: 1.2vw;
	height: auto;
}

.hero__advantage-text {
	margin: 0;
	font-weight: 300;
	font-size: 1vw;
}

.hero__advantage-text span {
	font-weight: 800;
}

/* Call Popup */
.call-popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.45);
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	visibility: hidden;
	transition: 0.3s ease-in-out;
}

.call-popup.active {
	opacity: 1;
	visibility: visible;
}

.call-popup.done .call-popup__send {
	display: none;
}

.call-popup.done .call-popup__done {
	display: flex;
}

.call-popup__close {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.call-popup__close span {
	cursor: pointer;
}

.call-popup__close span svg {
	transition: 0.3s ease-in-out;
	fill: var(--white-color);
	width: 1vw;
	height: 1vw;
}

.call-popup__close span:hover svg {
	fill: var(--red-color);
}

.call-popup__form {
	padding: 2.5vw 3vw 3vw;
	background: url('../images/call-form-bg.jpg');
	color: var(--white-color);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.call-popup__title {
	margin: 0;
	font-weight: 400;
	font-size: 2vw;
	text-align: center;
	max-width: 20vw;
}

.call-popup__description {
	max-width: 18vw;
	text-align: center;
	font-size: 1vw;
	margin-top: 1vw;
	margin-bottom: 2vw;
}

.call-popup__form label {
	font-size: 0.75vw;
	margin-bottom: 0.7vw;
}

.call-popup__input {
	width: 20vw;
	font-size: 1vw;
	color: var(--dark-color);
	display: block;
	background-color: var(--white-color);
	padding: 1.3vw 2vw;
	margin-bottom: 1.5vw;
	transition: 0.3s ease-in-out;
	border-width: 0.15vw;
}

.call-popup__input.invalid {
	color: var(--red-color);
}

.call-popup__input:focus {
	border-color: var(--red-color);
}

.call-popup__input::placeholder {
	color: #b0b0b1;
}

.call-popup__input:disabled {
	background-color: #ccc;
}

.call-popup__btn {
	width: 20vw;
}

.call-popup__policy {
	max-width: 20vw;
	display: flex;
	align-items: center;
	gap: 0.5vw;
}

.call-popup__policy p {
	font-size: 0.75vw;
}

.call-popup__policy p a {
	color: var(--red-color);
}

.call-popup__policy p a:hover {
	text-decoration: underline;
}

.call-popup__policy .custom__checkbox {
	top: 25%;
}

.call-popup__done {
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.call-popup__done svg {
	width: 7vw;
	height: 7vw;
	stroke: #20c863;
	border: none;
	fill: none;
	margin-top: 1vw;
}

.call-popup__done h2 {
	font-size: 2vw;
}

@media screen and (max-width: 768px) {
	.only-desktop {
		display: none;
	}

	.header__top.fixed {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		z-index: 1000;
	}

	.only-mobile {
		display: block;
	}

	.header__top-wrapper {
		border-bottom: 0;
	}

	.header__top.fixed,
	.header__top.active {
		background-color: #fff;
	}

	.header__top.fixed .header__top.active .header__contacts,
	.header__top.fixed .header__top.active .header__contacts a,
	.header__top.fixed .header__top.active .burger svg,
	.header__top.active .header__contacts,
	.header__top.active .header__contacts a,
	.header__top.active .burger svg {
		color: var(--dark-color);
		fill: var(--dark-color);
	}

	.call-popup__form {
		padding: 0.1rem 0.7rem 0.7rem;
	}

	.call-popup__title {
		max-width: 80%;
		margin: 0 auto;
		font-size: 1.2rem;
	}

	.call-popup__description {
		max-width: 75%;
		margin: 0 auto;
		font-size: 0.5rem;
		margin-top: 0.3rem;
		margin-bottom: 0.4rem;
	}

	.call-popup__form {
		text-align: center;
	}

	.call-popup__form label {
		font-size: 0.4rem;
		margin-bottom: 0.4rem;
		text-align: center;
	}

	.call-popup__input {
		width: 80%;
		margin: 0 auto;
		font-size: 0.7rem;
		padding: 0.5rem 0.7rem;
		border-radius: 5rem;
		border-width: 0.09rem;
	}

	.call-popup__btn {
		width: 80%;
		margin: 0.7rem auto 0;
		font-size: 0.6rem;
		height: 1.5rem;
		border-radius: 5rem;
		padding: 0.3rem 1rem;
		font-weight: 400;
	}

	.call-popup__close span svg {
		width: 0.6rem;
		height: 0.6rem;
	}

	.call-popup__policy {
		max-width: 80%;
		margin: 0.4rem auto 0;
		display: flex;
		align-items: center;
		gap: 0.2rem;
	}

	input[type='checkbox'] {
		visibility: hidden;
		width: 0.8rem;
		height: 0.8rem;
	}

	.custom__checkbox {
		position: absolute;
		top: 0;
		left: 0;
		width: 0.8rem;
		height: 0.8rem;
		border-width: 0.08rem;
		border-radius: 0.2rem;
	}

	.custom__checkbox svg {
		width: 0.4rem;
		height: 0.4rem;
	}

	.call-popup__policy p {
		font-size: 0.5rem;
		text-align: start;
	}

	.call-popup__done svg {
		width: 3rem;
		height: 3rem;
		margin-top: 0.5rem;
	}

	.call-popup__done h2 {
		font-size: 1rem;
	}

	.header__logo,
	.header__address,
	.header__map,
	.header__calculate,
	.header__social,
	.header__contacts {
		font-size: 0.5rem;
		line-height: 0.7rem;
	}

	.header__contacts .header__contacts-phone a {
		font-size: 0.7rem;
	}

	.header__contacts > a img {
		width: 0.5rem;
	}

	.header {
		position: relative;
	}

	.header__bottom {
		position: absolute;
		top: 3.05rem;
		left: 0;
		width: 100vw;
		z-index: 1000;
		background: var(--white-color);
		height: 100vh;
		opacity: 0;
		pointer-events: none;
		visibility: hidden;
	}

	.header__bottom.active {
		opacity: 1;
		pointer-events: all;
		visibility: visible;
	}

	.header__menu {
		flex-direction: column;
		align-items: start;
		gap: 1.5rem;
		margin-top: 0.7rem;
	}

	.header__menu-item.flex {
		display: flex;
		align-items: center;
		gap: 1rem;
	}

	.header__menu-item.flex p {
		line-height: 1.2rem;
		font-size: 0.8rem;
	}

	.header__menu-item img {
		width: 4rem;
		height: 4rem;
	}

	.header__menu-item.flex a,
	.header__menu-item.flex span {
		font-weight: 800;
	}

	.header__menu-item.flex.calculate div {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1rem;
		border-radius: 50%;
		background-color: #f8f8f8;
	}

	.header__menu-item.flex.calculate div img {
		width: 2rem;
		height: 2rem;
	}

	.header__menu-item.flex.social {
		align-items: start;
	}

	.header__menu-item__content {
		display: flex;
		flex-direction: column;
	}

	.social__links {
		display: flex;
		align-items: center;
		gap: 0.2rem;
	}

	.social__link {
		padding: 0.5rem;
	}

	.social__link svg {
		fill: var(--white-color);
		width: 1rem;
		height: 1rem;
	}

	.header__menu-link {
		width: 100%;
		font-size: 0.9rem;
		font-weight: 400;
	}

	.dots-underline:after {
		border-width: 0.15rem;
	}

	.burger {
		display: block;
	}

	.burger svg {
		fill: var(--dark-color);
	}

	.hero__right {
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: initial;
		padding-right: 0;
		padding-top: 3rem;
		padding-left: 0;
		width: 100vw;
	}

	.btn::after {
		height: 2rem;
		width: 2rem;
		transform: translateY(0);
	}

	.hero__btns {
		margin-top: 1.3rem;
	}

	.hero__btn {
		font-size: 0.3rem;
		height: 1.5rem;
		border-radius: 5rem;
		padding: 0 1rem;
		font-weight: 400;
	}

	.hero__btn:nth-child(2) {
		gap: 0.1rem;
	}

	.hero__btn:nth-child(2) span {
		color: #20c863;
	}
}

@media screen and (max-width: 500px) {
	.header {
		position: relative;
		background-color: transparent;
	}

	.header__bottom {
		top: 2.87rem;
	}

	.burger svg {
		fill: var(--white-color);
		width: 0.5rem;
		height: 0.5rem;
	}

	.header__top.fixed .burger svg {
		fill: var(--dark-color);
	}

	.header__logo a img {
		width: 6rem;
	}

	.hero__wrapper {
		margin-top: 1.5rem;
		margin-bottom: 3.5rem;
	}

	.header__top {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		z-index: 1000;
	}

	.header__contacts,
	.header__contacts a {
		color: var(--white-color);
	}

	.header__top.fixed .header__contacts,
	.header__top.fixed .header__contacts a {
		color: var(--dark-color);
	}

	.hero__title {
		font-size: 0.85rem;
		line-height: 1.2rem;
	}

	.hero__subtitle {
		font-size: 0.4rem;
	}

	.header__top-wrapper {
		border-bottom: 0;
	}

	.hero__advantages,
	.hero__advantages div {
		background-color: var(--white-color);
		color: var(--dark-color);
	}

	.hero__advantages {
		padding: 2vw 0;
	}

	.hero__advantage:first-child,
	.hero__advantage:last-child,
	.hero__advantage {
		width: 45%;
		padding: 0;
	}

	.hero__advantage img {
		width: 0.5rem;
		height: auto;
	}

	.hero__advantage-text {
		font-size: 0.5rem;
	}

	.hero__advantages div {
		flex-wrap: wrap;
		margin: 0 auto;
		gap: 0.5rem;
	}

	.hero__left {
		display: none;
	}
}

@media screen and (max-width: 400px) {
	.hero__btns {
		flex-direction: column;
	}

	.header__bottom {
		top: 2.7rem;
	}

	.hero__btn,
	.hero__btn:nth-child(2) {
		width: 100%;
		font-size: 0.3rem;
		height: 1rem;
		border-radius: 5rem;
		padding: 0.6rem 1rem;
	}
}
